:root {
  --primary-color: #dbcf5c;
}

html {
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  margin: 25px 60px 40px 60px;
  border-bottom: var(--primary-color) solid 2px;
  border-radius: 10px;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.parallax {
  background-image: url('../img/olive-oil_1920.jpg');
  width: 100vw;
  height: 20vw;

  /* Efecte Parallax */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

section {
  padding-top: 1.3rem;
  padding-bottom: 2.5rem;
}

section p {
  margin-left: 1rem;
  margin-right: 2.5rem;
}

section h3 {
  margin-left: 1rem;
  padding-bottom: 1.5rem;
}

